@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Toronto Canada<br />
    <abbr title="Phone">P:</abbr>
    647.995.3696
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kim900318@gmail.com">kim900318@gmail.com</a><br />
</address>
